
<h1 class="banner">One account. All of Ishmael.</h1>
<h2>Sign in to continue to Ishmael.</h2>


<form class="sign-in" action="<%= session_url %>" method="POST">

  <%= list_errors %>

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <input type="text" name="username" value="">
  <p>
  <input type="password" name="password" value="">
  <p>
  <button >Sign In</button><br>
    <button type="submit" form="demo-sign-in">Demo</button>
    <p>
      <center>
    <a href="<%= new_user_url %>">Create Account</a>
  </center>
</form>

<form id="demo-sign-in" action="<%= session_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="username" value="ishmael">
  <input type="hidden" name="password" value="guest0">
</form>
